@font-face {
  font-family: 'Gentona';
  src: url('./gentona');
}
section, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Gentona';
  font-weight: 400;
  line-height: 1;
}

.top-banner {
  height: 675px;
  position: relative;
  transition: all 0.2s;
  background: #000000;
  padding-top: 90px;
  background-image: url('../assets/ola_background.jpg');
  background-size: cover;
}

.carousel-item .banner {
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-carousel-wrapper .carousel-item {
	height: 675px;
	position: relative;
}

.custom-carousel-wrapper .top_heading {
	display: block;
	text-align: center;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 40px;
	letter-spacing: 1px;
}

.custom-carousel-wrapper .top_heading .text-overlay-top {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 200px;
	opacity: 0.5px;
	z-index: 3;
	pointer-events: none;
}

.custom-carousel-wrapper .top_heading .top_title {
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 0 20px;
	position: relative;;
	z-index: 5;
}

.custom-carousel-wrapper .top_heading .top_subtitle {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: 300;
	padding: 0 20px;
	position: relative;
	z-index: 5;
}

.ola-booking-wrapper {
	height: 675px;
	position: relative;
	width: 100%;
}

.ola-booking {
	position: absolute;
	width: 400px;
	border-radius: 4px;
	z-index: 10;
	margin-top: 160px;
	left: 20px;
	display: block;
	background: #f5f5f5;
}

.ola-booking .booking-tab {
	border-radius: 4px;
	border-bottom: 1px solid rgb(255, 255, 255);
	padding: 10px 5px 0px 5px;
	width: 100%;
	background: #f5f5f5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.ola-booking .booking-tab .tab-btn-wrapper {
	width: 33.33%;
	display: inline-block;
}

.ola-booking .booking-tab .tab {
	font-size: 14px;
	height: 24px;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 8px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ola-booking .booking-tab .tab-active {
	background: #CDDC39;
	border-radius: 25px;
}

.text-center {
	text-align: center;
}

.selection-complete {
	width: 100%;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: block;
}

.selection-container {
	margin: 0 5px 10px;
}

.selection-main {
	padding: 20px 0 10px;
	text-align: center;
}

.header-message-main {
	padding: 3px 0;
	font-size: 16px;
	font-weight: 500;
	width: 80%;
	margin: 0 auto 5px;
	color: #000;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.subheader-message-main {
	font-size: 14px;
	font-weight: 400;
	width: 80%;
	margin: 0 auto;
	color: #000;
	padding-bottom: 6px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.window-input {
	background: #e2e2e2;
	position: relative;
	margin: 8px 0;
	display: block;
	height: 42px;
	line-height: 20px;
	border-radius: 4px;
	border: 1px solid #e2e2e2 !important;
}

.left-window-input {
	position: absolute;
	font-size: 10px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; 
	text-transform: uppercase;
	height: 100%;
	width: 64px;
	color: #898989;
	text-align: left;
	margin-left: 10px;
	text-overflow: ellipsis;
	line-height: 40px;
}

.right-window-input {
	position: absolute;
	font-size: 15px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; 
	color: #000;
	left: 64px;
	right: 40px;
	text-overflow: ellipsis;
	height: 100%;
	text-align: left;
	margin-left: 5px;
	line-height: 40px;
}

.dropdown-width-adjust {
	width: 100%;
}

.search-cabs-button {
	width: 100%;
	height: 44px;
	color: #000;
	background-color: #CDDC39;
	font-weight: 400;
	font-size: 18px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	border-radius: 4px;
	border: none;
	letter-spacing: 0.5px;
	box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.2);
	box-sizing: border-box;
}