<h2 style = "text-align: center;"> The details of the particular student are: </h2>
<div class="myClass" style = "text-align: center; font-size: 250%;" >
	<p> Name : <%= @student.name %> </p>
	<p> Age : <%= @student.age %> </p>
	<a href = "/students" class = "btn btn-primary">Go Back </a>
</div>